# Gender Detection

In [18]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import cv2
import dlib
from tabulate import tabulate

# Data Preprocessing

In [39]:
os.chdir(r'C:\Users\User\Desktop\4th_year_AMLS\zceecyt-AMLSassignment19_20-16053203\dataset\celeba')
cwd = os.getcwd()
# print("Current working directory is:", cwd)
# df = pd.read_csv('labels.csv')
df = open('labels.csv')
reader = csv.reader(df)

# print(reader)

# for row in reader:    
#     data = str(row).replace('t', '').replace('[','').replace(']','').replace('\'','')

#     new = data.split("\\")
    
    
# #     print (data)
# #     print (new)
# #     print(tabulate(new))
    
#     for column in new:
#         print(column, end = ' ')
    
#     print()
#     table = pd.DataFrame (new)
#     print (table)

#     index = new[0]
#     filename = new[1]
#     gender = new[2]
    
#    print (array)
#    print (filename)
    
#     print(array)
#     break
    
    
#     print(row)
#     print(index, filename, array)
    
#     continue
    
#     try:
#         gender = int(gender)
        
#         if gender == -1:
#             print('female')
#         else:
#             print('male')
#     except ValueError:
#         continue

In [65]:
df = pd.read_csv('labels.csv', sep = '\t')
df = df.drop(columns = [df.columns[0]])

In [68]:
df_male = df[df['gender'] == 1]

In [70]:
df_female = df[df['gender'] == -1]
df_female

      img_name  gender  smiling
0        0.jpg      -1        1
1        1.jpg      -1        1
3        3.jpg      -1       -1
4        4.jpg      -1       -1
5        5.jpg      -1       -1
...        ...     ...      ...
4274  4274.jpg      -1        1
4276  4276.jpg      -1        1
4277  4277.jpg      -1        1
4279  4279.jpg      -1        1
4281  4281.jpg      -1       -1

[2500 rows x 3 columns]