# Gender Detection

In [18]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import cv2
import dlib
from tabulate import tabulate

# Data Preprocessing

In [77]:
os.chdir(r'C:\Users\User\Desktop\4th_year_AMLS\zceecyt-AMLSassignment19_20-16053203\dataset\celeba')
cwd = os.getcwd()
# print("Current working directory is:", cwd)
# df = pd.read_csv('labels.csv')
df = open('labels.csv')
reader = csv.reader(df)

In [85]:
df = pd.read_csv('labels.csv', sep = '\t')
df = df.drop(columns = [df.columns[0]]).drop(columns = [df.columns[3]])

In [86]:
df_male = df[df['gender'] == 1]
df_male.loc[:,'gender'] = df_male['gender']
df_male

      img_name  gender
2        2.jpg       1
6        6.jpg       1
7        7.jpg       1
11      11.jpg       1
12      12.jpg       1
...        ...     ...
4995  4995.jpg       1
4996  4996.jpg       1
4997  4997.jpg       1
4998  4998.jpg       1
4999  4999.jpg       1

[2500 rows x 2 columns]

In [87]:
df_female = df[df['gender'] == -1]
df_female.loc[:, 'gender'] = df_female['gender'].apply(lambda x : 0)
df_female

      img_name  gender
0        0.jpg       0
1        1.jpg       0
3        3.jpg       0
4        4.jpg       0
5        5.jpg       0
...        ...     ...
4274  4274.jpg       0
4276  4276.jpg       0
4277  4277.jpg       0
4279  4279.jpg       0
4281  4281.jpg       0

[2500 rows x 2 columns]