# Train, Validate and Test

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import cv2
import dlib

In [6]:
def train_validate_test_split(df, train_percent=0.6, validate_percent=0.2, seed=None):
    np.random.seed(seed)
    perm = np.random.permutation(df.index)
    m = len(df.index)
    train_end = int(train_percent * m)
    validate_end = int(validate_percent * m) + train_end
    train = df.iloc[perm[:train_end]]
    validate = df.iloc[perm[train_end:validate_end]]
    test = df.iloc[perm[validate_end:]]
    return train, validate, test

In [7]:
np.random.seed([3,30000])
df = pd.DataFrame(np.random.rand(10, 5), columns=list('ABCDE'))
df

          A         B         C         D         E
0  0.356062  0.972819  0.127206  0.059672  0.304422
1  0.098176  0.534043  0.259867  0.519322  0.672175
2  0.123008  0.411324  0.232764  0.987009  0.551233
3  0.278758  0.539014  0.038833  0.428988  0.621170
4  0.325049  0.204925  0.481530  0.226049  0.991371
5  0.704538  0.323845  0.032657  0.778413  0.390295
6  0.649613  0.354221  0.786420  0.138962  0.543617
7  0.263715  0.019357  0.187854  0.274841  0.019110
8  0.033685  0.770225  0.111040  0.602867  0.974200
9  0.607366  0.799790  0.482907  0.066861  0.821987

In [8]:
train, validate, test = train_validate_test_split(df)

train

          A         B         C         D         E
6  0.649613  0.354221  0.786420  0.138962  0.543617
2  0.123008  0.411324  0.232764  0.987009  0.551233
0  0.356062  0.972819  0.127206  0.059672  0.304422
9  0.607366  0.799790  0.482907  0.066861  0.821987
7  0.263715  0.019357  0.187854  0.274841  0.019110
8  0.033685  0.770225  0.111040  0.602867  0.974200

In [9]:
validate

          A         B         C         D         E
5  0.704538  0.323845  0.032657  0.778413  0.390295
1  0.098176  0.534043  0.259867  0.519322  0.672175