In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import dlib
import shutil

In [5]:
os.chdir(r'C:\Users\User\Desktop\4th_year_AMLS\zceecyt-AMLSassignment19_20-16053203\dataset\celeba')
cwd = os.getcwd()
# print("Current working directory is:", cwd)
# df = pd.read_csv('labels.csv')
df = open('labels.csv')
reader = csv.reader(df)

In [7]:
df = pd.read_csv('labels.csv', sep = '\t')
df = df.drop(columns = [df.columns[0]]).drop(columns = [df.columns[2]])

In [11]:
df_smile = df[df['smiling'] == 1]
df_smile.loc[:,'smiling'] = df_smile['smiling']
df_smile

      img_name  smiling
0        0.jpg        1
1        1.jpg        1
8        8.jpg        1
10      10.jpg        1
11      11.jpg        1
...        ...      ...
4995  4995.jpg        1
4996  4996.jpg        1
4997  4997.jpg        1
4998  4998.jpg        1
4999  4999.jpg        1

[2500 rows x 2 columns]

In [10]:
df_nosmile = df[df['smiling'] == -1]
df_nosmile.loc[:, 'smiling'] = df_nosmile['smiling'].apply(lambda x : 0)
df_nosmile

      img_name  smiling
2        2.jpg        0
3        3.jpg        0
4        4.jpg        0
5        5.jpg        0
6        6.jpg        0
...        ...      ...
4714  4714.jpg        0
4715  4715.jpg        0
4716  4716.jpg        0
4719  4719.jpg        0
4720  4720.jpg        0

[2500 rows x 2 columns]

# Separating folders

In [ ]:
folder = 'celeba'
f = 'female'
m = 'male'

os.makedirs(folder +'/train' + f)
os.makedirs(folder +'/train' + m)
os.makedirs(folder +'/val' + f)
os.makedirs(folder +'/val' + m)
os.makedirs(folder +'/test' + f)
os.makedirs(folder +'/test' + m)

# Creating partitions of the data after shuffeling
currentCls = posCls
src = "Data2"+currentCls # Folder to copy images from

allFileNames = os.listdir(src)
np.random.shuffle(allFileNames)
train_FileNames, val_FileNames, test_FileNames = np.split(np.array(allFileNames),
                                                          [int(len(allFileNames)*0.7), int(len(allFileNames)*0.85)])


train_FileNames = [src+'/'+ name for name in train_FileNames.tolist()]
val_FileNames = [src+'/' + name for name in val_FileNames.tolist()]
test_FileNames = [src+'/' + name for name in test_FileNames.tolist()]

print('Total images: ', len(allFileNames))
print('Training: ', len(train_FileNames))
print('Validation: ', len(val_FileNames))
print('Testing: ', len(test_FileNames))

# Copy-pasting images
for name in train_FileNames:
    shutil.copy(name, "Data2/train"+currentCls)

for name in val_FileNames:
    shutil.copy(name, "Data2/val"+currentCls)